


h1 {
    font-family: 'VT323', monospace;
    
    margin-top: 10vw;
    color:rgb(120, 40, 136);
}

button{
    width: 15vw;
    height: 6vw;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
    font-family: 'VT323', monospace;
    font-size: large;
}

button:hover{
    background-color: coral;
}

.title{
    display: flex;
    justify-content: center;
}

#buttons{
    
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}

#score{
    font-family: 'VT323', monospace;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw auto;
    color:rgb(216, 105, 64);
    height: 5vw;
    width: 10vw;
    background-color: cornsilk;
    border-radius: 30px;
}

#description{
    display: flex;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: large;
    color:rgb(120, 40, 136);
}

#container{
    background-color: rgb(236, 245, 245);
    width: 60vw;
    height: 50vw;
    margin: 10vw auto;
    margin-top: 20vw;
    border-radius: 30px;
}