
body {
    background-color: rgb(236, 245, 245);
    
}

h1 {
    color:rgb(120, 40, 136);
}

button{
    width: 20vw;
    height: 8vw;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
   
}

button:hover{
    background-color: coral;
}

.title{
    display: flex;
    justify-content: center;
}

#buttons{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}

#score{
    display: flex;
    justify-content: center;
    margin: 5vw auto;
    color:rgb(216, 105, 64);
    height: 5vw;
    width: 10vw;
    background-color: cornsilk;
    border-radius: 30px;
}